/* lora-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/lora-v37-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lora-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/lora-v37-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lora-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lora";
  font-style: italic;
  font-weight: 700;
  src: url("./assets/fonts/lora-v37-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/inter-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  src: url("./assets/fonts/inter-v20-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inconsolata-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/inconsolata-v37-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inconsolata-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/inconsolata-v37-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@layer global {
  :root {
    --c-neutral-950: hsl(0, 0%, 0%);
    --c-neutral-900: hsl(0, 0%, 12%);
    --c-neutral-800: hsl(0, 0%, 18%);
    --c-neutral-700: hsl(0, 0%, 23%);
    --c-neutral-500: hsl(0, 0%, 46%);
    --c-neutral-200: hsl(0, 0%, 91%);
    --c-neutral-100: hsl(0, 0%, 96%);
    --c-neutral-0: hsl(0, 0%, 100%);
    --c-purple-600: hsl(274, 82%, 50%);
    --c-purple-500: hsl(274, 82%, 60%);
    --c-red-500: hsl(0, 100%, 66%);
    --c: hsl(0, 0%, 80%);

    --color-line-light: var(--c-neutral-200);
    --color-line-dark: var(--c-neutral-700);
    --color-main-bg-light: var(--c-neutral-0);
    --color-main-bg-dark: var(--c-neutral-950);
    --color-text-dark: var(--c-neutral-800);
    --color-text-med-light: var(--c-neutral-500);
    --color-text-light: var(--c-neutral-0);
    --color-text-purple: var(--c-purple-500);

    --color-toggle-bg-light: var(--c-neutral-500);
    --color-toggle-bg-dark: var(--c-purple-500);
    --color-toggle-button: var(--c-neutral-0);
    --color-play-button-bg: var(--c-purple-500);
    --color-play-button-path: var(--c-neutral-0);
    --color-play-button-path-hover: var(--c-purple-500);
    --color-dropdown-arrow: var(--c-purple-500);
    --color-dropdown-bg-light: var(--c-neutral-0);
    --color-dropdown-text-light: var(--c-neutral-800);
    --color-dropdown-bg-dark: var(--c-neutral-950);
    --color-dropdown-text-dark: var(--c-neutral-0);

    --color-search-bar-bg-light: var(--c-neutral-100);
    --color-search-bar-text-light: var(--c-neutral-800);
    --color-search-bar-bg-dark: var(--c-neutral-900);
    --color-search-bar-text-dark: var(--c-neutral-0);

    --color-info-word-light: var(--c-neutral-800);
    --color-info-word-dark: var(--c-neutral-0);
    --color-synonym: var(--c-neutral-500);
    --color-list-text-light: var(--color-text-dark);
    --color-list-text-dark: var(--color-text-light);
    --color-source-link-text-light: var(--color-text-dark);
    --color-source-link-decoration-light: var(--color-text-med-light);
    --color-source-link-text-dark: var(--color-text-light);
    --color-source-link-decoration-dark: var(--color-text-light);
    --color-moon-light: var(--c-neutral-500);
    --color-moon-dark: var(--c-purple-500);

    /* system default light */
    --background: var(var(--color-main-bg-light));
    /* --text-color: var(--color-text-light); */
    --color-line: var(--color-line-light);
    --color-toggle-bg: var(--color-toggle-bg-light);
    --color-dropdown-bg: var(--color-dropdown-bg-light);
    --color-search-bar-bg: var(--color-search-bar-bg-light);
    --color-dropdown-text: var(--color-dropdown-text-light);
    --color-search-bar-text: var(--color-search-bar-text-light);
    --color-list-text: var(--color-list-text-light);
    --color-source-link-text: var(--color-source-link-text-light);
    --color-source-link-decoration: var(--color-source-link-decoration-light);
    --color-toggle-bg: var(--color-toggle-bg-light);
    --color-moon: var(--color-moon-light);
    --color-info-word: var(--color-info-word-light);

    --radius-10: 10px;
    --radius-16: 16px;

    --ff-mono: "Inconsolata", Arial, Tahoma;
    --ff-sans: "Inter", Helvetica, Tahoma;
    --ff-serif: "Lora", Verdana, Geneva;
    --fw-bold: 700;
    --fs-64: calc(64 / 16 * 1rem);
    --fs-32: calc(32 / 16 * 1rem);
    --fs-24: calc(24 / 16 * 1rem);
    --fs-20: calc(20 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-15: calc(15 / 16 * 1rem);
    --fs-14: calc(14 / 16 * 1rem);

    --font-size-dropdown: var(--fs-14);
    --font-size-search-placeholder: var(--fs-16);
    --font-size-word: var(--fs-32);
    --font-size-word-pronounce: var(--fs-18);
    --font-size-part-speach: var(--fs-18);
    --font-size-meaning-synonyms-elec: var(--fs-16);
    --font-size-paragraph: var(--fs-15);
    --font-size-source: var(--fs-14);

    --line-height-170: 1.7;
    --line-height-160: 1.6;
    --line-height-133: 1.33;
    --line-height-130: 1.3;
    --line-height-127: 1.27;
    --line-height-122: 1.22;
    --line-height-120: 1.2;
    --line-height-107: 1.07;
    --line-height-106: 1.06;
    --line-height-105: 1.05;

    --line-height-dropdown: var(--line-height-170);
    --line-height-search-placeholder: var(--line-height-120);
    --line-height-word: var(--line-height-120);
    --line-height-word-pronounce: var(--line-height-133);
    --line-height-part-speach: var(--line-height-122);
    --line-height-meaning-synonyms-elec: var(--line-height-120);
    --line-height-paragraph: var(--line-height-160);

    --leter-space: -0.25;

    @media (width >= calc(700/ 16 * 1rem)) {
      --font-size-dropdown: var(--fs-18);
      --font-size-search-placeholder: var(--fs-20);
      --font-size-word: var(--fs-64);
      --font-size-word-pronounce: var(--fs-24);
      --font-size-part-speach: var(--fs-24);
      --font-size-meaning-synonyms-elec: var(--fs-20);
      --font-size-paragraph: var(--fs-18);
      --line-height-dropdown: var(--line-height-133);
      --line-height-word-pronounce: var(--line-height-120);
      --line-height-part-speach: var(--line-height-120);
      --line-height-paragraph: var(--line-height-133);
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: var(--color-main-bg-dark);
      --text-color: var(--color-text-light);
      --color-line: var(--color-line-dark);
      --color-toggle-bg: var(--color-toggle-bg-dark);
      --color-dropdown-bg: var(--color-dropdown-bg-dark);
      --color-search-bar-bg: var(--color-search-bar-bg-dark);
      --color-dropdown-text: var(--color-dropdown-text-dark);
      --color-search-bar-text: var(--color-search-bar-text-dark);
      --color-list-text: var(--color-list-text-dark);
      --color-source-link-text: var(--color-source-link-text-dark);
      --color-source-link-decoration: var(--color-source-link-decoration-dark);
      --color-toggle-bg: var(--color-toggle-bg-dark);
      --color-moon: var(--color-moon-dark);
      --color-info-word: var(--color-info-word-dark);
    }
  }

  body {
    background-color: var(--background);
    color: var(--text-color);
  }
  body.light {
    --background: var(--color-main-bg-light);
    /* --text-color: var(--color-text-light); */
    --color-line: var(--color-line-light);
    --color-toggle-bg: var(--color-toggle-bg-light);
    --color-dropdown-bg: var(--color-dropdown-bg-light);
    --color-search-bar-bg: var(--color-search-bar-bg-light);
    --color-dropdown-text: var(--color-dropdown-text-light);
    --color-search-bar-text: var(--color-search-bar-text-light);
    --color-list-text: var(--color-list-text-light);
    --color-source-link-text: var(--color-source-link-text-light);
    --color-source-link-decoration: var(--color-source-link-decoration-light);
    --color-toggle-bg: var(--color-toggle-bg-light);
    --color-moon: var(--color-moon-light);
    --color-info-word: var(--color-info-word-light);
  }

  body.dark {
    --background: var(--color-main-bg-dark);
    --text-color: var(--color-text-light);
    --color-line: var(--color-line-dark);
    --color-toggle-bg: var(--color-toggle-bg-dark);
    --color-dropdown-bg: var(--color-dropdown-bg-dark);
    --color-search-bar-bg: var(--color-search-bar-bg-dark);
    --color-dropdown-text: var(--color-dropdown-text-dark);
    --color-search-bar-text: var(--color-search-bar-text-dark);
    --color-list-text: var(--color-list-text-dark);
    --color-source-link-text: var(--color-source-link-text-dark);
    --color-source-link-decoration: var(--color-source-link-decoration-dark);
    --color-toggle-bg: var(--color-toggle-bg-dark);
    --color-moon: var(--color-moon-dark);
    --color-info-word: var(--color-info-word-dark);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    font-family: var(--ff-serif);
    margin-bottom: 7.125rem;
    background: var(--background);
  }

  p {
    font-size: var(--font-size-paragraph);
    line-height: var(--line-height-paragraph);
  }

  input,
  button {
    font: inherit;
    width: 100%;
    border: none;
  }

  .visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &.skip-link:focus {
      left: 0;
      width: auto;
      height: auto;
      background-color: inherit;
      color: var(--color-text-purple);
      padding: 10px;
      border: 2px solid var(--color-text-med-light);
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr calc(100% - 48px) 1fr;
    /* width: calc(100% - 48px);
    margin-inline: auto; */

    @media (min-width: calc(700 / 16 * 1rem)) {
      grid-template-columns: 1fr min(calc(100% - 80px), (736 / 16 * 1rem)) 1fr;
    }

    > * {
      grid-column: 2;
    }
  }

  .part-speach {
    position: relative;
    font-style: italic;

    font-size: var(--font-size-part-speach);
    line-height: var(--line-height-part-speach);
    color: var(--font-size-part-speach);

    &::after {
      position: absolute;
      background: var(--color-line);
      content: "";
      /* 56 42 */
      width: calc(100% - 66px);
      /* width: 24px; */
      height: 1.3px;
      top: 50%;
      right: 0;

      @media (min-width: calc(700 / 16 * 1rem)) {
        width: calc(100% - 80px);
      }
    }
  }

  .meaning,
  .noun__synonyms {
    color: var(--color-text-med-light);
    font-size: var(--font-size-meaning-synonyms-elec);
    line-height: var(--font-size-meaning-synonyms-elec);
  }

  .meaning,
  .noun__synonyms h3 {
    font-weight: 400;
  }
  .meaning {
    margin-block: 32px 24px;
    @media (width >= calc(700 / 16 * 1rem)) {
      margin-block-start: 40px;
    }
  }

  .meaning__list {
    padding-inline-start: 25px;
    color: var(--color-list-text);
    font-size: var(--font-size-paragraph);
    line-height: var(--line-height-paragraph);

    @media (width >= calc(1200 / 16 * 1rem)) {
      margin-inline-start: 22px;
    }

    & ::marker {
      color: var(--c-purple-500);
    }

    & li {
      padding-block-end: 12px;
    }
  }
}

@layer component {
  .header {
    margin-top: 24px;
    @media (min-width: calc(700 / 16 * 1rem)) {
      margin-top: 58px;
    }

    .header__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header__select {
      display: flex;
    }

    .header__dropdown {
      position: relative;
      color: var(--color-dropdown-text);
      background-color: var(--color-dropdown-bg);
      font-size: var(--font-size-dropdown);
      line-height: var(--line-height-dropdown);
      border: none;
      cursor: pointer;
      /* -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 14 8' xmlns='http://www.w3.org/2000/svg'><path d='M0.530273 0.530334L6.53027 6.53033L12.5303 0.530334' fill='none' stroke='currentColor' stroke-width='1.5'/></svg>")
        no-repeat;
      background-size: 14px 8px;

      background-position: 70px center; */
    }

    .header__dropdown option {
      position: absolute;
      font-size: var(--font-size-dropdown);
      line-height: var(--line-height-dropdown);
      padding-block: 24px;
      padding-inline: 24px 69px;
      cursor: pointer;
    }
    .header__dropdown option:hover,
    .header__dropdown option:focus {
      color: var(--color-dropdown-arrow);
    }

    fieldset {
      display: flex;
    }

    /* https://www.youtube.com/watch?v=n3hkpnOFr0A&list=PLUWqFDiirlsu5az5EIyxe8ZddyNO_kDuP */
    .header__toggle {
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    .header__toggle-wrapper {
      position: relative;
      display: flex;
      width: 40px;
      height: 20px;
    }

    input[type="radio"] {
      display: inline-block;
      opacity: 0;

      &:focus ~ .header__toggle-button {
      }
    }

    .header__toggle-background {
      display: none;
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      border-radius: 20px;
      background-color: var(--color-toggle-bg-light);
      transition: all 200ms ease-in-out;
      pointer-events: none;
    }

    .header__toggle-button {
      position: absolute;
      left: 3px;
      right: 100%;
      top: 3px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: var(--color-toggle-button);
      transition: all 200ms ease-in-out;
    }
    #dark:checked ~ .header__toggle-button {
      left: calc(100% - 17px);
    }

    #dark:checked ~ .header__toggle-background {
      background-color: var(--color-toggle-bg-dark);
    }

    #light:checked ~ .header__toggle-background {
      background-color: var(--color-toggle-bg-light);
    }

    .header__toggle-svg path {
      stroke: var(--color-moon);
    }
  }

  .hero {
    margin-block: 24px 26px;

    @media (width >= calc(700 / 16 * 1rem)) {
      margin-block: 56px 32px;
    }
    @media (width >= calc(1200 / 16 * 1rem)) {
      margin-block-end: 34px;
    }

    .hero__search {
      background-image: url("./assets/images/icon-search.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - 24px) center;
      background-color: var(--color-search-bar-bg);
      color: var(--color-search-bar-text);
      font-size: var(--font-size-search-placeholder);
      line-height: var(--line-height-search-placeholder);
      padding: 14.5px 24.5px;

      border-radius: 16px;

      @media (min-width: calc(700 / 16 * 1rem)) {
        padding: 20px 24px;
      }
    }

    .hero__word-info-word {
      font-size: var(--font-size-word);
      color: var(--color-info-word);
      font-weight: var(--fw-bold);
      margin-block-end: 32px;

      @media (min-width: calc(700 / 16 * 1rem)) {
        margin-block-end: 37px;
      }
    }

    .hero__word-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block-start: 23px;

      @media (min-width: calc(700 / 16 * 1rem)) {
        margin-block-start: 48px;
      }
    }
    .hero__word-info-phonotic {
      color: var(--color-text-purple);
    }

    .play-button {
      background: none;
      width: fit-content;
      padding: 0;
    }

    .play-button-svg {
      cursor: pointer;

      @media (width >= calc(700 / 16 * 1rem)) {
        width: 75px;
        height: 75px;
      }
    }
    .play-button-svg:hover circle,
    .play-button-svg:focus circle {
      transition: opacity 200ms ease-in-out;
      opacity: 1;
    }
    .play-button-svg:hover path,
    .play-button-svg:focus path {
      transition: fill 200ms ease-in-out;
      fill: var(--c-neutral-0);
    }
  }

  .noun {
    .noun__synonyms {
      padding-block-start: 12px;

      @media (width >= calc(700 / 16 * 1rem)) {
        padding-block-start: 36px;
      }

      @media (width >= calc(1200 / 16 * 1rem)) {
        padding-block-start: 60px;
      }
    }

    .noun__synonyms {
      display: flex;
      gap: 24px;
    }

    .noun__synonyms-elect {
      color: var(--color-text-purple);
      text-decoration: none;
    }
  }

  .verb {
    padding-block: 32px;
    @media (width >= calc(700 / 16 * 1rem)) {
      padding-block: 40px 48px;
    }

    .example {
      color: var(--color-text-med-light);
      font-size: var(--font-size-paragraph);
      line-height: var(--line-height-paragraph);
    }
  }

  .source {
    .source__content {
      border-top: 1px solid var(--color-line);
      padding-block-start: 32px;
      color: var(--color-text-med-light);
      font-size: var(--font-size-source);

      @media (width >= calc(700 / 16 * 1rem)) {
        padding-block-start: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
    .source__title {
      font-weight: 400;
      padding-block-end: 8px;
      text-decoration: underline;
      text-underline-offset: 2.5px;
      /* align-self: center; */

      @media (width >= calc(700 / 16 * 1rem)) {
        padding-block-end: 0px;
      }
    }

    .source__link {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .source__link a {
      color: var(--color-source-link-text);
      text-decoration-color: var(--color-source-link-decoration);

      text-underline-offset: 4px;

      @media (width >= calc(700 / 16 * 1rem)) {
      }
    }
  }
}
