/* jetbrains-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/jetbrains-mono-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --c-white: hsl(0, 100%, 100%);
  --c-black: hsl(0, 0%, 0%);
  --c-grey-950: hsl(255, 22%, 4%);
  --c-grey-900: hsl(248, 17%, 9%);
  --c-grey-850: hsl(248, 15%, 11%);
  --c-grey-800: hsl(248, 10%, 15%);
  --c-grey-700: hsl(248, 5%, 34%);
  --c-grey-600: hsl(251, 9%, 53%);
  --c-grey-200: hsl(252, 11%, 91%);
  --c-green-200: hsl(127, 100%, 82%);
  --c-yellow-300: hsl(42, 91%, 68%);
  --c-orange-400: hsl(13, 95%, 66%);
  --c-red-500: hsl(0, 91%, 63%);
  --c-gradient-1: hsl(248, 17%, 9%);
  --c-gradient-2: hsl(255, 22%, 4%);

  --color-text-light: var(--c-grey-200);
  --color-text-med-light: var(--c-grey-600);
  --color-text-med-dark: var(--c-grey-700);
  --color-text-dark: var(--c-grey-800);
  --color-green-bg: var(--c-green-200);
  --color-dark-bg: var(--c-grey-850);
  --color-password-display-bg: var(--c-grey-800);
  --color-copy-icon: var(--c-green-200);
  --color-copy-icon-active: var(--c-white);
  --color-text-password-display-value: var(--c-green-200);
  --color-slider-bg: var(--c-grey-850);
  --color-slider-bg-active: var(--c-green-200);
  --color-slider-thumb-bg: var(--c-grey-200);
  --color-text-btn: var(--color-text-dark);
  --color-text-btn-active: var(--color-green-bg);
  --color-btn-bg: var(--color-green-bg);
  --color-btn-bg-active: var(--c-grey-800);
  --color-border-btn-active: var(--color-green-bg);
  --color-square-bg: var(--c-grey-850);
  --color-border-square: var(--c-grey-200);
  --color-checkbox-bg: var(--color-dark-bg);
  --color-checkbox-bg-active: var(--color-green-bg);

  --ff: "JetBrains Mono", Arial, Helvetica, sans-serif;
  --fw-bold: 700;
  --fs-32: calc(32 / 16 * 1rem);
  --fs-24: calc(24 / 16 * 1rem);
  --fs-18: calc(18 / 16 * 1rem);
  --fs-16: calc(16 / 16 * 1rem);
  --lh-32: calc(42 / 32);
  --lh-24: calc(32 / 24);
  --lh-18: calc(24 / 18);
  --lh-16: calc(20 / 16);
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-size: inherit;
  margin: 0;
}

body {
  padding: 0;
  font-family: var(--ff);
  font-weight: var(--fw-bold);
  font-size: var(--fs-16);
  line-height: var(--lh-16);
  color: var(--color-text-light);
  background: linear-gradient(var(--c-gradient-1), var(--c-gradient-2));
  @media (width >= calc(700 / 16 * 1rem)) {
    font-size: var(--fs-18);
    line-height: var(--lh-18);
  }
}

button,
input {
  font: inherit;
}

button {
  width: 100%;
}

.wrapper {
  display: grid;
  margin-block: 65px;
  grid-template-columns: 1fr calc(100% - 32px) 1fr;
  place-items: center;
  @media (width >= calc(700 / 16 * 1rem)) {
    margin-block: 133px 195px;
    grid-template-columns: 1fr min(calc(100% - 228px), 450px) 1fr;
  }

  & > * {
    grid-column: 2;
  }
}

.password-display__wrapper {
  width: 100%;
}

.password-display__title {
  color: var(--color-text-med-light);
  padding-block-end: 16px;
  @media (width >= calc(700 / 16 * 1rem)) {
    font-size: var(--fs-24);
    line-height: var(--lh-24);
    padding-block-end: 32px;
  }
}

.password-display__output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-password-display-bg);
  margin-block-end: 16px;
  padding: 16px;
  @media (width >= calc(700 / 16 * 1rem)) {
    margin-block-end: 24px;
    padding: 19px 32px;
  }
}

.password-display__password {
  color: var(--color-text-med-dark);
  font-size: var(--fs-24);
  line-height: var(--lh-24);
  @media (width >= calc(700 / 16 * 1rem)) {
    font-size: var(--fs-32);
    line-height: var(--lh-32);
  }
}

.password-display__copy-icon {
  color: var(--color-copy-icon);
  @media (width < calc(700 / 16 * 1rem)) {
    width: 17.5px;
    height: 20px;
  }
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.password-display__copy-icon:active,
.password-display__copy-icon:hover {
  color: var(--color-copy-icon-active);
}

.password-display__options {
  background-color: var(--color-password-display-bg);
  padding: 16px;
  @media (width >= calc(700 / 16 * 1rem)) {
    padding: 24px 32px 41px 32px;
  }
}

.password-display__form {
  display: grid;
  gap: 32px;
}

.option-slider__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 8px;
  @media (width >= calc(700 / 16 * 1rem)) {
    padding-block-end: 16px;
  }
}

.password-display__value {
  color: var(--color-text-password-display-value);
  font-size: var(--fs-24);
  line-height: var(--lh-24);
  @media (width >= calc(700 / 16 * 1rem)) {
    font-size: var(--fs-32);
    line-height: var(--lh-32);
  }
}

/* Slider */
/* https://www.cssportal.com/style-input-range/ */
.option-slider__input {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;
}

.option-slider__input::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    var(--color-slider-bg-active) var(--range-pct, 0%),
    var(--color-slider-bg) var(--range-pct, 0%)
  );
  height: 8px;
  border-radius: 4px;
}

.option-slider__input::-webkit-slider-thumb {
  appearance: none;
  background: var(--color-slider-thumb-bg);
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  margin-top: -10px;
}

.option-slider__input:hover::-webkit-slider-thumb,
.option-slider__input:active::-webkit-slider-thumb {
  background: var(--color-slider-bg);
  border: 2px solid var(--color-green-bg);
}

.option-slider__input::-moz-range-track {
  background: linear-gradient(
    to right,
    var(--color-slider-bg-active) var(--range-pct, 0%),
    var(--color-slider-bg) var(--range-pct, 0%)
  );
  height: 8px;
  border-radius: 4px;
}

.option-slider__input::-moz-range-thumb {
  appearance: none;
  background: var(--color-slider-thumb-bg);
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  margin-top: -10px;
}

.option-slider__input:hover::-moz-range-thumb,
.option-slider__input:active::-moz-range-thumb {
  background: var(--color-slider-bg);
  border: 2px solid var(--c-green-200);
}

/* Checkboxes */
.options-checklist {
  display: grid;
  gap: 16px;
}

.options-checklist__wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  @media (width >= calc(700 / 16 * 1rem)) {
    gap: 24px;
  }
}

.options-checklist__input {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-border-square);
  background: var(--color-checkbox-bg);
}
.options-checklist__input:checked {
  border: none;
  background: var(--color-checkbox-bg-active)
    url("./assets/images/icon-check.svg") no-repeat center;
}

/* Strength  */
.options-strength {
  background-color: var(--color-dark-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  @media (width < calc(700 / 16 * 1rem)) {
    margin-block-end: -16px;
  }
  @media (width >= calc(700 / 16 * 1rem)) {
    padding: 22px 31.5px;
  }
}

.options-strength__title {
  text-transform: uppercase;
  color: var(--color-text-med-light);
}

.options-strength__squares {
  display: flex;
  align-items: center;
  gap: 8px;
}

.options-strength__square {
  width: 10px;
  height: 28px;
  border: 2px solid var(--color-border-square);
}

/* Generate Button */
.password-display__generate-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: var(--color-btn-bg);
  color: var(--color-text-btn);
  padding-block: 18px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  @media (width >= calc(700 / 16 * 1rem)) {
    gap: 24px;
  }
}

.password-display__generate-btn:hover,
.password-display__generate-btn:active {
  border: 2px solid var(--color-border-btn-active);
  background-color: var(--color-btn-bg-active);
  color: var(--color-text-btn-active);
}
